<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat Da Burgerz</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Barrio|Pangolin|Josefin+Slab" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<img class="text-center" src="/assets/img/burger.png" alt="Burgerz logo">
		</div>
		{{{body}}}
	</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>