body {
    background-color: #CFEBEA;
    color: #6E4438;
    font-family: 'Josefin Slab', serif;
}

h1 {
    font-family: 'Barrio', cursive;
    font-size: 100px;
}

h2 {
    color: #F26554;
    font-family: 'Pangolin', cursive;
}

img {
    display: block;
    height: 200px;
    margin: 0 auto;
}

ul {
    list-style: none;
    font-size: 24px;
}

label {
    font-size: 24px;
}

.orange {
    color: #F49E18;
}

.green {
    color: #99C24A;
}

.yellow {
    color: #FDF38C;
}

.red {
    color: #F26554;
}

.brown {
    color: #6E4438;
}
